click==7.1.1
dill==0.3.1.1
gTTS
Keras==2.3.1
librosa==0.7.2
matplotlib==3.2.1
natsort==7.0.1
numpy
numba==0.4.0
h5py<3.0.0
pandas
pyaudio
pydub
pyinstaller
python_speech_features==0.6
pyttsx3
SpeechRecognition
tensorflow
tqdm==4.45.0
